body {
  background-color: #e7ebf0;
}
img {
  display: block;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.card-img {
  width: 290px;
  height: 60%;
  margin: 0 auto;
  padding-top: 20px;
}
.info {
  display: flex;
  gap: 10px;
  font-size: 15px;
  text-align: center;
  color: rgb(69, 62, 62);
}
.info-item {
  line-height: 2;
}
.search-form {
  background-color: #4747c8;
  padding: 20px;
  text-align: center;
}
.photo-card {
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.load-more {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px 20px;
  display: block;
  color: #fff;
  background-color: #4747c8;
  border-radius: 20px;
}
.hidden {
  display: none;
}
