img {
  display: block;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
}
.card-img {
  width: 290px;
  height: 60%;
  margin: 0 auto;
  padding-top: 20px;
}
.info {
  display: flex;
  gap: 10px;
  font-size: 12px;
  text-align: center;
}
.search-form {
  background-color: #4747c8;
  padding: 20px;
  text-align: center;
}
.photo-card {
  border: 1px solid rgb(90, 81, 81);
  height: 100%;
}
.load-more {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px 20px;
  display: block;
  color: #fff;
  background-color: #4747c8;
  border-radius: 20px;
}
.hidden {
  display: none;
}
